<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>film list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
	<script>
		// Initialize Firebase

	</script>
</head>

<body>
	<div id="app">

		<form id="forminp">
			<input type='text' v-model='request'>
		</form>

		<div class="masonry">
			
			<div class='mel' v-for="a in img">
				<img width="270px" v-bind:src="a" alt="">
			</div>
		</div>

		<img v-bind:src="img" alt="">
	</div>
</body>
<script src="main.js"></script>

</html>