<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>film list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
	<script>
		// Initialize Firebase

	</script>
</head>

<body>
	<div id="app">
		<form @keydown.enter="addel(request)" action="#"  class='menu' id="forminp">
			<input type='text' v-model='request'>
			<input type="button" value="GO" v-on:click="addel(request)">
		</form>


		<div class="masonry">
			
			<div class='mel' v-for="a,i in obj">
				
				<input type="button" value="X" v-on:click="del(a,i)">

				<img width="270px" v-bind:src="getposter(a.poster_path)" alt="">
			</div>
		</div>

	</div>
</body>

<script src="main.js"></script>

</html>